<!DOCTYPE html>
<html>
<head>
	{% if logged_in %}
	<meta name="logged_in" content="{{ logged_in }}">
	{% endif %}
	{% if username %}
	<meta name="username" content="{{ username }}">
	{% endif %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='js.cookie.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='userinfo.js')}}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CSE356 Final Project</title>
</head>
<body>
	<div class="container-fluid">
		{% if username %}
		<div>Welcome {{ username }}</div>
		<div id="email"></div>
		<div id="reputation"></div>
		{% endif %}
		<div id="questions">
			<h1>Posted Questions</h1>
		</div>
		<div id="answers">
			<h1>Posted Answers</h1>
		</div>
	</div>
</body>
</html>
